<% unless user_signed_in? %>
  <div class="side_by_side">
    <div class="want_to_create_immediately">
      <h1 class="under_green">すぐに作成したい方</h1>
      <p>【注意】<br>　ゲストユーザーはログアウトするとデータがリセットされます。</p>
      <%= link_to  top_guest_sign_in_path, method: :post, class:'top_link', data: {"turbolinks" => false} do %>
        <div class="create_without_user_registration_area">
          ユーザー登録なしで作成する
        </div>
      <% end %>
    </div>
    <div class="to_members">
      <h1 class="under_orange">会員の方</h1>
      <div class="side_by_side">
        <%= link_to new_user_session_path, class:'top_link', data: {"turbolinks" => false} do %>
          <div class="guidance_sign_in_area">
            ログインする
          </div>
        <% end %>
        <%= link_to new_user_registration_path, class:'top_link', data: {"turbolinks" => false} do %>
        <div class="guidance_sign_up_area">
          ユーザー登録する
        </div>
        <% end %>
      </div>
    </div>
  </div>
<% end %>
<div class="vertically_aligned_and_centered">
  <h1 class="gist_green">カンタン作業登録で作業割当をスピード作成！</h1>
  <%= image_tag 'easy_registration.jpg', class: 'top_image' %>
</div>
<div class="vertically_aligned_and_centered">
  <h1 class="gist_green">更新も簡単！適正な人員配置を常に実現！</h1>
  <%= image_tag 'speed_update.jpg', class: 'top_image' %>
</div>
<div class="vertically_aligned_and_centered">
  <h1 class="gist_orange">もう残業なんてさせません！！</h1>
  <%= image_tag 'at_the_end.jpg', class: 'top_image_last' %>
</div>
