<div class="page_header_margin_bottom_50px">
  <h1 class="page_title">アカウント登録</h1>
</div>
<div class="centered">
  <%= render "devise/shared/error_messages", resource: resource %>
</div>
<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <div class="centered">
    <table>
      <tr>
        <th><%= f.label :name ,"ユーザー名" %></th>
        <td><%= f.text_field :name, autofocus: true %></td>
      </tr>
      <tr>
        <th><%= f.label :email ,"メールアドレス" %></th>
        <td><%= f.email_field :email, autofocus: true, autocomplete: "email" %></td>
      </tr>
      <tr>
        <th>
          <%= f.label :password ,"パスワード" %>
          <% if @minimum_password_length %>
            (<%= @minimum_password_length %>文字以上)
          <% end %>
        </th>
        <td><%= f.password_field :password, autocomplete: "new-password" %></td>
      </tr>
      <tr>
        <th><%= f.label :password_confirmation ,"パスワード（確認用）" %></th>
        <td><%= f.password_field :password_confirmation, autocomplete: "new-password" %></td>
      </tr>
    </table>
  </div>
  <div class="table_bottom">
    <%= f.submit "登録", id: "submit_registration" %>
    　<%= link_to "ログイン", new_session_path(resource_name), class: "immutable_color_link" %>
  </div>
<% end %>
