<div class="centered">
  <h1>業務一覧</h1>
</div>
<div class="centered">
  <table>
    <thead>
      <tr>
        <th>id</th>
        <th>業務</th>
        <th>所要時間（分）</th>
        <th>カテゴリ</th>
        <th>編集</th>
        <th>削除</th>
      </tr>
    </thead>
    <tbody>
      <% @works.each do |work| %>
        <tr>
          <td><%= work.id %></td>
          <td><%= work.name %></td>
          <td><%= work.time_required %></td>
          <td><%= work.taxon.name %></td>
          <td>
            <%= link_to "編集", [:edit, work], class: "immutable_color_link" %>
          </td>
          <td>
            <%= link_to "削除", work, method: :delete, data: { confirm: "本当に削除しますか？" }, class: "immutable_color_link" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
