<%= form_with model: @table do |f| %>
  <div class="page_header_margin_bottom_20px">
    <h1 class="page_title">作業割当</h1>
  </div>
  <div class="vertically_aligned_and_centered">
    <h2>編集</h2>
    <h3 class="margin_top_0">
      <%= f.label :name ,"タイトル" %>：<%= f.text_field :title %>　<%= f.submit "保存", id: "submit_save" %>
    </h3>
  </div>
  </div>
  <%= render 'tables/form', f: f %>
<% end %>
