<div class="page_header_margin_bottom_50px">
  <h1 class="page_title">作業割当</h1>
</div>
<%= render 'shared/search_results' %>
<div class="search_form">
  <%= form_with url: search_table_path, method: :get, local: true do |f| %>
    <%= f.text_field :keyword, placeholder: "キーワードを入力" %>
    <%= f.submit :検索, id: "commit_search" %>
  <% end %>
</div>
<div class="centered">
  <p>
    ※印刷したい場合は詳細ページに移動し、右上の「印刷」リンクをクリックしてください。
  </p>
</div>
<div class="centered">
  <table class="table_index">
    <thead>
      <tr>
        <th>id</th>
        <th>タイトル</th>
        <th>更新日</th>
        <th>作成日</th>
        <th>詳細</th>
        <th>編集</th>
        <th>複製</th>
        <th>削除</th>
      </tr>
    </thead>
    <tbody>
      <% @tables.each do |table| %>
        <tr>
          <td><%= table.id %></td>
          <td><%= table.title %></td>
          <td><%= table.updated_at.to_s(:datetime_jp) %></td>
          <td><%= table.created_at.to_s(:datetime_jp) %></td>
          <td>
            <%= link_to "詳細", table, class: "color_blue", id: "show_table_#{table.id}", data: {"turbolinks" => false} %>
          </td>
          <td>
            <%= link_to "編集", [:edit, table], class: "color_blue", id: "edit_table_#{table.id}", data: {"turbolinks" => false} %>
          </td>
          <td>
            <%= link_to "複製", [:clone, table], class: "color_blue", id: "clone_table_#{table.id}", data: {"turbolinks" => false} %>
          </td>
          <td>
            <%= link_to "削除", table, method: :delete, data: { confirm: "本当に削除しますか？", "turbolinks" => false }, class: "color_blue", id: "delete_table_#{table.id}" %>
          </td>
        </tr>
      <% end %>
    </tbody>
  </table>
</div>
