<%= form_with model: @table do |f| %>
  <div class="page_header_margin_bottom_20px">
    <h1 class="page_title">作業割当</h1>
  </div>
  <div class="vertically_aligned_and_centered">
    <div class="sample_data_link_area">
      <%= link_to "サンプルデータを呼び出す", [:set_sample_data, @table], class: "sample_data_link" %>
    </div>
    <h2>新規作成</h2>
    <h3 class="margin_top_0">
      <%= f.label :title ,"タイトル" %>：<%= f.text_field :title %>　<%= f.submit "保存", id: "commit_save" %>
    </h3>
  </div>
  <div class="centered">
    <table class="sagyouwariate">
      <thead>
        <tr>
          <th>時間</th>
          <th>定時業務</th>
          <th>納品業務</th>
          <th>商品管理業務</th>
          <th>清掃業務</th>
        </tr>
      </thead>
        <tbody>
          <% 96.times do |num|%>
            <tr>
              <td>
                <%= render 'tables/row_time', num: num %>
              </td>
              <td>
                <%= render 'tables/row_regular_work', num: num, f: f %>
              </td>
              <td>
                <%= render 'tables/row_deliver_work', num: num, f: f %>
              </td>
              <td>
                <%= render 'tables/row_product_management_work', num: num, f: f %>
              </td>
              <td>
                <%= render 'tables/row_cleaning_work', num: num, f: f %>
              </td>
            </tr>
          <% end %>
        </tbody>
    </table>
  </div>
<% end %>
