<div class="upper_right">
  <%= link_to "戻る", tables_path, class:'green_button_print_hidden' %>
  <a class="green_button_print_hidden" onclick="window.print();">印刷</a>
</div>
<div class="page_header_margin_bottom_20px">
  <h1 class="page_title"><%= @table.title %></h1>
</div>
<div class="centered">
  <table class="sagyouwariate">
    <thead>
      <tr>
        <th>時間</th>
        <th>定時業務</th>
        <th>納品業務</th>
        <th>商品管理業務</th>
        <th>清掃業務</th>
      </tr>
    </thead>
      <tbody>
        <% 96.times do |num|%>
          <tr>
            <td>
              <%= render 'tables/row_time', num: num %>
            </td>
            <td>
              <%= @table.send("a#{num + 1}") %>
            </td>
            <td>
              <%= @table.send("b#{num + 1}") %>
            </td>
            <td>
              <%= @table.send("c#{num + 1}") %>
            </td>
            <td>
              <%= @table.send("d#{num + 1}") %>
            </td>
          </tr>
        <% end %>
      </tbody>
  </table>
</div>
