<div class="login_link_area">
  <% if user_signed_in? %>
    <div id="user_menu_link">
      ユーザーメニュー ▼
    </div>
  <% else %>
    <%= link_to "ログイン", new_user_session_path, class:'white_button', data: {"turbolinks" => false} %>
    <%= link_to "アカウント登録", new_user_registration_path, class:'white_button', data: {"turbolinks" => false} %>
    <%= link_to 'ゲストログイン', top_guest_sign_in_path, method: :post, class:'white_button', data: {"turbolinks" => false} %>
  <% end %>
</div>
<% if user_signed_in? %>
  <nav id="user_menu">
    <div id="you_are_logged_in"><span class="blue_bold"><%= current_user.name %></span>さんが<br>ログインしています。</div>
      <ul>
        <li><%= link_to "アカウント設定", edit_user_registration_path, class: "color_blue", id: "edit_user_registration", data: {"turbolinks" => false} %></li>
        <% if current_user.email == 'guestzzz@example.com' %>
          <li><%= link_to "ログアウト", registration_path(current_user), data: { confirm: "【注意】ゲストユーザーはログアウトするとデータがリセットされます！", "turbolinks" => false }, method: :delete, class: "color_blue" %></li>
        <% else %>
          <li><%= link_to "ログアウト", destroy_user_session_path, method: :delete, class: "color_blue", data: {"turbolinks" => false} %></li>
        <% end %>
      </ul>
  </nav>
<% end %>
<header class="site-header">
  <div class="wrapper site-header__wrapper">
    <div class="logo">
      <div>
        <%= image_tag '金槌とペンチ.jpg', class:'logo_icon' %>
      </div>
      <div>
        <%= image_tag 'logo_text.jpg', class:'logo_text' %>
      </div>
    </div>
    <% if user_signed_in? %>
      <nav class="header_menu">
        <button class="header_menu__toggle" aria-expanded="false" type="button">
          menu
        </button>
        <ul class="header_menu__wrapper">
          <li class="header_menu__item">
            <%= link_to "トップ", root_path, data: {"turbolinks" => false} %>
          </li>
          <li class="header_menu__item">
            <%= link_to "新規作成", new_table_path, id:'header_menu_create_new', data: {"turbolinks" => false} %>
          </li>
          <li class="header_menu__item">
            <%= link_to "作業割当一覧", tables_path, id:'header_menu_table_index', data: {"turbolinks" => false} %>
          </li>
          <li class="header_menu__item">
            <%= link_to "業務登録", new_work_path, id:'header_menu_work_registration', data: {"turbolinks" => false} %>
          </li>
          <li class="header_menu__item">
            <%= link_to "業務一覧", works_path, id:'header_menu_work_index', data: {"turbolinks" => false} %>
          </li>
          <li class="header_menu__item_mobile">
            <%= link_to "アカウント設定", edit_user_registration_path, data: {"turbolinks" => false} %>
          </li>
          <li class="header_menu__item_mobile">
              <% if current_user.email == 'guestzzz@example.com' %>
                <%= link_to "ログアウト", registration_path(current_user), data: { confirm: "【注意】ゲストユーザーはログアウトするとデータがリセットされます！", "turbolinks" => false }, method: :delete %>
              <% else %>
                <%= link_to "ログアウト", destroy_user_session_path, method: :delete, data: {"turbolinks" => false} %>
              <% end %>
          </li>
        </ul>
      </nav>
    <% end %>
    <%= render 'layouts/flash_message' %>
  </div>
</header>
