<div class="rightside">
  <% if user_signed_in? %>
  <%= link_to "#{current_user.email}", destroy_user_session_path, method: :delete, class: "immutable_color_link" %>
  <% else %>
    <%= link_to "ログイン", new_user_session_path, class:'sign_in_link' %>
    <%= link_to "アカウント登録", new_user_registration_path, class:'sign_in_link' %>
  <% end %>
</div>
<header class="site-header">
  <div class="wrapper site-header__wrapper">
    <div class="logo">
      <div>
        <%= image_tag '金槌とペンチ.jpg', class:'logo_icon' %>
      </div>
      <div>
        <%= image_tag 'logo_text.jpg', class:'logo_text' %>
      </div>
    </div>
    <% if user_signed_in? %>
      <nav class="nav">
        <button class="nav__toggle" aria-expanded="false" type="button">
          menu
        </button>
        <ul class="nav__wrapper">
          <li class="nav__item">
            <%= link_to "トップ", root_path %>
          </li>
          <li class="nav__item">
            <%= link_to "新規作成", new_table_path, id:'header_menu_create_new' %>
          </li>
          <li class="nav__item">
            <%= link_to "作業割当一覧", tables_path, id:'header_menu_table_index' %>
          </li>
          <li class="nav__item">
            <%= link_to "業務登録", new_work_path %>
          </li>
          <li class="nav__item">
            <%= link_to "業務一覧", works_path %>
          </li>
        </ul>
      </nav>
    <% end %>
    <%= render 'layouts/flash_message' %>
  </div>
</header>
